.home {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block {
  background-color: rgb(217, 223, 221);
  width: 20rem;
  padding: 2rem;
}
