.home {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block {
  background-color: rgb(236, 238, 237);
  width: 20rem;
  padding: 2rem;
  border-radius: 10px;
}
