.register-form {
  width: 40rem;
  margin: 50px auto;
  max-width: 90%;
  border-radius: 12px;
  padding: 1rem;
  border: 2px solid black;
  background-color: rgb(250, 250, 250);
}

.register-label {
  width: 5rem;
}
