.card-item {
  text-align: center;
}

.crousel {
  color: black;
  background-color: #e0e0e0;
  width: 60rem;
  margin: 50px auto;
  max-width: 95%;
  text-align: center;
  border-radius: 10px;
  padding: 2rem;
}

.card-item img {
  margin: 20px;
  border-radius: 10px;
}
